body{
    background-image: url("999d40531d5605649b6895edb755a43a.jfif");
    min-height: 10px;
    background-size: 50vh;
    background-position: center;
}
.page-title{
    font-family: "Roboto Mono", monospace;
    color: orangered;
    text-align: center;
    font-size: 60px;
    padding: 20px;

}
.sub-title{
    font-family: "Roboto Mono", monospace;
    text-align: center;
    color: orangered;
    font-size: 70px;
    padding: 20px;
}
#musica{
    visibility: hidden;
}

#botao{
    position: absolute;
    justify-content: center;
    margin: 0 3px;
    width: 100px;
    height: 50px;
    top: 5%;
    left: 42.5%;
    border: inset blueviolet;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}
#botao:hover{
    transform: scale(1.1);
    box-shadow: 3px 10px 10px 3px;
    transition: all 0.3s ease-in-out 0s;
    border:inset;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.game-board{
    width: 80%;
    height: 500px;
    border: 20px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-image: url("52024602967_6f49fac730_k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.pipe{
    position:absolute;
    bottom: 0;
    width: 60px;
    right: -80px;
    animation: pipe-animation 2s linear infinite;

}

@keyframes pipe-animation {
    from{
        right:-80;
    }

    to {
        right:100%;
    }
    
}

.mario{
    bottom:0;
    width: 100px;
    left: 10%;
    position: absolute; 
    

}

.jump {
    animation: jump 500ms ease-in-out;
}

@keyframes jump {

    0% {
        bottom:0;
    }
    10%{
        bottom:130px;
    }

    20% {
        bottom:130px;
    }
    30% {
        bottom:130px;
    }

    40% {
        bottom:130px;
    }

    50% {
        bottom:130px;
    }

    60% {
        bottom:130px;
    }
    
    70% {
        bottom:130px;
    }

    100% {
        bottom:0;
    }

}
